spring:
  application:
    name: clique
  datasource:
    url: jdbc:mysql://localhost:3306/clique_dating
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
server:
  port: 8080

jwt:
  signerKey: GbcZunUaQZdWvCTcyMTgZoMoWhwxucO38cFN9wB4CE2U+oXolHhrtWZcJ4LeLbQr
